.contain{
	margin-left: 8px;
	width: 100% !important;
	padding: 0px !important;
	margin: 0px ;
	margin-bottom: 15px;
}

div.app{
	white-space: nowrap;
	overflow: scroll;
	text-align: center;
}

::-webkit-scrollbar {
	display: none;
}

.men-text{
	text-decoration: none;
	margin: 8px 8px 8px 0px;
	display: inline-block;
	width: 28%;
	background-color: white;
	text-decoration: none;
	line-height: normal;
	margin-bottom: 2px;
	margin-top: 8px;
}

.men-text:hover{
	color: white !important;
	text-decoration: none;
	text-decoration: none;
	background-color: #4B85FF;
	transform: translateY(-3px);
}

.men-text:active{
	color: white !important;
	text-decoration: none;
	text-decoration: none;
	background-color: #4B85FF;
	transform: translateY(-1px);
}


.mblue{
	color: white;
	background: #314755;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #26a0da, #314755);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #26a0da, #314755); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.myellow{
	color: white;
	background: #e65c00;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F9D423, #e65c00);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F9D423, #e65c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mlblue{
	color: white;
	background: #2193b0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mpink{
	color: white;
	background: #ec008c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mdblue{
	color: white;
	background: #1488CC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.morange{
	color: white;
	background: #ee0979;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.purple{
	color: white;
	background: #41295a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mfusion{
	color: white;
	background: #ff00cc;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mdsea{
	color: white;
	background: #FF512F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#menu-top{
	font-size: 38px;
	margin: 0px;
	text-decoration: none;

}

.menu-text{
	margin: 0px;
	text-decoration: none;
	line-height: normal;
	font-weight: 500;
	width: 100%;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.men-img{
	width: 100%;
	border-radius: 5px;
	height: 90px;

}

.lox{
	margin-left: 8px;
}

.my-image1{
	width: 100%;
	height: 130px;
	object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
	object-position: center; /* Center the image within the element */
}

.my-image{
	width: 100%;
	height: 262px;
	object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
	object-position: center; /* Center the image within the element */
}

div.col-4{
	margin: 0;
	padding: 0;
}
.in-img{
	display: inline;
}

div.col-8{
	margin: 0px;
	padding: 0px;
	
}

.bron{
	margin: 2px;
}

div.col-12{
	margin: 0px;
	padding: 0px;
}

.bisk{
	margin: 0px 2px 0px 0px;
}

.bisk1{
	margin: 0px 0px 2px 0px;

}

.bisk2{
	margin: 2px 0px 0px 0px;

}

.bisk4{
	margin: 0px 2px 0px 0px;
}

.bisk5{
	margin: 0px 2px 0px 0px;
}

.band{
	margin-top: -5px;
}

