.mesow{
	padding: 45px;
}

.ngjm{
	padding-bottom: 25px;
	text-transform: uppercase;
}

.center-cropped {
	margin: 7px 0px;
	border-radius: 8px;
	object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
	object-position: center; /* Center the image within the element */
	max-height: 400px;
	max-width: 80%;
	-webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.66);
-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.66);
box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.66);
}


.col-md-3{
    display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
    margin: 0;
}
.center-croppedu {
	margin: 7px 0px;
	border-radius: 8px;
	object-fit: cover;       /* Scale the image so it covers whole area, thus will likely crop */
	object-position: center; /* Center the image within the element */
	height: 140px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.66);
	box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.66);
}

.pch{
	padding-top: 8px;
	padding-bottom: 8px;
}
